.product{
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-top:10px;
    position: relative;
}
.product img{
    width: 280px;
    height: 250px;
    border-radius: 8px;
    margin:0 10px;
    
}
.card-items{
    margin:10px;
}
.btn-card{
    width: 100%;
    font-weight: 700;
    background-color: #FFE0B3;
    position: absolute;
    bottom: 0;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-card .btn-text{
    margin-right: 8px;
}
.btn-card:hover{
    background-color: orange;
}