
.review-items-container{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding:8px;
    margin: 10px;
}
.cart-img img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
} 

.review-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange{
    color:orange;
}
.review-details-items h3, h5{
    margin: 3px;
    padding-left: 15px;
}
.delete-btn{
    /* background: rgba(235, 87, 87, 0.3); */
    border: 0;
    width: 55;
    height: 55;
    border-radius: 50%;
}
.delete-icon{
    font-size: 50px;
    color: rgb(240, 124, 104);
}